bind: 0.0.0.0
port: 6379
requirepass: {{ REDIS_PASSWORD}}
masterauth: {{ REDIS_PASSWORD}}
{% if hostvars[inventory_hostname]['role'] != "master" %}
{% for host in vars['ansible_play_hosts_all'] if hostvars[host]['role'] == "master" %}
replicaof: {{ hostvars[host]['ansible_host'] }} 6379
{% endfor %}
{% endif %}